@import '/node_modules/@shoelace-style/shoelace/dist/themes/light.css';

#root {
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  background-color: indigo;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ABOVE: Vite defaults */

.icon-button-color sl-icon-button {
  /* color: #b00091; */
  color: white;
}

.icon-button-color sl-icon-button::part(base):hover,
.icon-button-color sl-icon-button::part(base):focus {
  color: #c913aa;
}

.icon-button-color sl-icon-button::part(base):active {
  color: #960077;
}

sl-button>sl-icon {
  font-size: 18px;
  vertical-align: middle;
}

sl-button>sl-icon:hover {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

sl-button:hover>sl-icon {
  font-weight: bold;
}

.app-header {
  display: flex;
  flex-direction: column;

  h1 {
    color: white;
    margin-top: 0;
  }

  padding-bottom: 10px;
  align-items: center;

}


.rhythm-preset-select {
  max-width: 400px;
}

.preset-select::part(form-control-label) {
  color: white;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.preset-select::part(display-input) {
  text-align: center;
}

.emphasize {
  text-decoration: underline;
}

.hint {
  background-color: hsla(220, 100%, 30%, .8);
  border-radius: 25%;
  padding: 2px 8px;
  margin: 8px;

  p {
    margin: 2px;
  }
}

.hint-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: "⭐️";
}

.name-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 16px;

  p {
    border: 1px dashed white;
    border-radius: 50%;
    padding: 8px;
    background-color: hsla(220, 100%, 70%, .8);;
    font-size: 24px;
  }
  p.selected {
    text-decoration: underline;
    font-weight: bold;
    background-color: hsla(250, 100%, 70%, .8);;

  }
}
/* .form-control__label {
  color: white;
}
.preset-select {
  label {
    color: white;
  }
}*/

sl-select::part(base) {
  color: white
}

.step {
  background-color: hsla(220, 100%, 30%, .8);
  border-radius: 10%;
  padding: 8px;
  margin: 8px;
}

.main {
  background-image: url(assets/freepik_ocean_background.jpg);
  background-size: cover;
  /* max-height: 100vh; */
  min-height: 400px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 25%;
}

.curve-arrow {
  font-size: 32px;
  ;
}

.octo {
  font-size: 72px;
  line-height: 72px;
}

.title {
  font-size: 48px;
  line-height: 48px;
}

.octopus {
  margin: 0;
  /* writing-mode: vertical-lr;
  text-orientation: upright; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  .arrow {
    font-size: 48px;
    line-height: 48px;
    ;

    &.hidden {
      visibility: hidden;
    }
  }
}


.chord-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  button {
    font-size: 32px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.chord-emoji {
  font-size: 48px;
}

.middle {
  /* flex-grow: 1; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  ;
}

.label-on-left {
  --label-width: 3.75rem;
  --gap-width: 1rem;
}

.label-on-left+.label-on-left {
  margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
  display: grid;
  grid: auto / 1fr 1fr;
  gap: var(--sl-spacing-3x-small) var(--gap-width);
  align-items: center;
}

.label-on-left::part(form-control-label) {
  text-align: center;
}

.label-on-left::part(form-control-help-text) {
  grid-column-start: 2;
}

.top-tabs::part(tabs) {
  justify-content: center;
  gap: 12px;
  border-top: 0;
}

.tab::part(base) {
  color: white;
  /* background-color: var(--sl-color-green-500); */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid white;
  border-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.start-tab::part(base) {
  background-color: var(--sl-color-lime-500);
}

.drums-tab::part(base) {
  background-color: var(--sl-color-green-500);
}

.chords-tab::part(base) {
  background-color: var(--sl-color-emerald-500);
}

.melody-tab::part(base) {
  background-color: var(--sl-color-teal-500);
}

sl-tab[active]::part(base) {
  font-weight: bolder;
  text-decoration: underline;
}

.beat-select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  flex: auto auto;
  flex-direction: row;
  /* padding: 12px; */
  align-items: center;
}

.tempo-selector {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 12px;
}

.step-header {
  font-weight: bold;
  margin: 8px;
  .step-num {
    font-weight: bolder;
    text-decoration: underline;
  }
}