@import '/node_modules/@shoelace-style/shoelace/dist/themes/light.css';

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: indigo;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ABOVE: Vite defaults */

.icon-button-color sl-icon-button {
  /* color: #b00091; */
  color: white;
}

.icon-button-color sl-icon-button::part(base):hover,
.icon-button-color sl-icon-button::part(base):focus {
  color: #c913aa;
}

.icon-button-color sl-icon-button::part(base):active {
  color: #960077;
}

sl-button>sl-icon {
  font-size: 18px;
  vertical-align: middle;
}

sl-button>sl-icon:hover {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

sl-button:hover > sl-icon {
  font-weight: bold;
}

.main {
  background-color: hsla(220, 100%, 30%, .9);
  max-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 25%;
}

.octopus {
  margin: 0;
  /* writing-mode: vertical-lr;
  text-orientation: upright; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .octo {
    font-size: 72px;
    line-height: 72px;;
  }
  .arrow {
    font-size: 48px;
    line-height: 48px;;
    &.hidden{
      visibility: hidden;
    }
  }
}


.chord-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  button {
    font-size: 32px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.chord-emoji {
  font-size: 48px;
}

.middle {
  /* flex-grow: 1; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  ;
}